@using EntityLayer.Concrete
@model List<AppUser>

    <!-- ======= Doctors Section ======= -->
    <section id="doctors" class="doctors section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Doktorlarımız</h2>
          
        </div>
            
        <div class="row">

          @foreach(var item in Model){

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="/userimage/@item.ImageUrl" width="200" height="300" class="img-fluid" alt="doktor">              
              </div>
              <div class="member-info">
                <h4>@item.NameSurname</h4>
                <span>@item.Branch-@item.Hospital</span>
              </div>
            </div>
          </div>

          }
      

        </div>

      </div>
    </section><!-- End Doctors Section -->