@using EntityLayer.Concrete
@model HospitalInfo

@{
    ViewData["Title"] = "HospitalDetail";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="card text-dark bg-light mb-xl-auto" @*style="max-width: 18rem;"*@>
  <div class="card-header"> <span class="text-secondary text-medium">@Model.Hospital.Name</span><br/> </div>
  <div class="card-body" style="text-align:center">
    <p class="card-text"><img src = "/hospitalimage/@Model.hospitalImageUrl" width="400" height="200" alt="user"></p>
  </div>
  <div class="card-footer text-muted">
    <span class="text-secondary text-medium">@Model.description</span>
  </div>
</div>


