

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMainPage.cshtml";
}


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>İLETİŞİM</h2>
          <p>Bizimle aşağıda belirtilen adreslerden iletişime geçebilirsiniz.</p>
        </div>

      </div>

      <div class="container">

        <div class="row mt-5">

        @await Component.InvokeAsync("ContactInfo")

         
                   
          <div class="col-lg-6">
            
              <div class="row">
                <div class="col form-group">
                  <input type="text" class="form-control" id="name" placeholder="İsminiz" required>
                </div>
               
              </div>

               <div class="col form-group mt-3">
                  <input type="email" class="form-control"  id="email" placeholder="E-posta adresiniz" required>
                </div>

              <div class="form-group mt-3">
                <input type="text" class="form-control"  id="subject" placeholder="Mesaj Başlığı" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" rows="5" id="message" placeholder="Mesajınız" required></textarea>
              </div>             
       
              <br />

              <button id="btnadd">Mesajı Gönder</button>

     </div>

  <script src = "~/lib/jquery/dist/jquery.js"></script>     

@section scripts
{


    <script>


$("#btnadd").click(function(){ 
      
      
       let values = {
           Name: $("#name").val(),
           Email: $("#email").val(),
           Subject: $("#subject").val(),
           Message: $("#message").val()

       };
      
      $.ajax({
          type:"Post",
          url:"/MainPage/MainPage/Index",
          data:values,
          success : function(funkadd){
              let result = jQuery.parseJSON(funkadd);
              alert("Mesaj başarılı bir şekilde iletildi.");
          }
      });
      
      
      
      });




    </script>

}
    





        </div>


      </div>
    </section><!-- End Contact Section -->

 
