@model EntityLayer.Concrete.Testimonial

@{
    ViewData["Title"] = "UpdateTestimonial";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Referans Düzenle</h4>
                 
                @using (Html.BeginForm("UpdateTestimonial","Testimonial",FormMethod.Post)){

                    
                    @Html.HiddenFor(m=>m.testimonialID)

                    <div class="form-group">
                      <label>Referans</label>
                      @Html.TextAreaFor(m=>m.description,6,8,new {@class="form-control"}) 
                      @Html.ValidationMessageFor(m=>m.description,"",new {@class="text-danger"})
                    </div>
                

                  <button  class="btn btn-success">Düzenle</button>
            

            }


                  </div>
                </div>
              </div>

